services:
  - type: web
    name: moodle
    env: docker
    plan: free
    envVars:
      - key: DB_HOST
        fromDatabase:
          name: moodleDB
          property: host
      - key: DB_NAME
        fromDatabase:
          name: moodleDB
          property: database
      - key: DB_USER
        fromDatabase:
          name: moodleDB
          property: user
      - key: DB_PASS
        fromDatabase:
          name: moodleDB
          property: password
      - key: DB_PORT
        fromDatabase:
          name: moodleDB
          property: port
databases:
  - name: moodleDB
    plan: free
    databaseName: moodle
    user: moodle
